<!-- Breadcrumbs-->
<ol class="breadcrumb">  
    <li class="breadcrumb-item">
        <a [routerLink]="['../../dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a [routerLink]="['../../content-consumer/view-consumers']">Content Consumer</a>
    </li>
    <li class="breadcrumb-item">
        <a>Add Consumers</a>
    </li>
</ol>
    
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-file-o"></i>&emsp;<b>Content Consumer App List Form</b></div>
        <form id="form1" name="form1" method="POST" [formGroup]="consumerForm" (ngSubmit)="onSubmit()" action="">
            <br>
            <div class="row">
                <div class="col-md-3">
                    <label for="caName">Name of the content consumer :*</label>
                </div>
    
                <div class="col-md-7">
                    <input mdInput type="text" id="caName" name="caName" class="form-control form-control-sm" placeholder="Nimal Perera" [(ngModel)]="caName"
                        formControlName="caName">
                    
                    <div *ngIf="consumerForm.controls['caName'].hasError('required') && consumerForm.controls['caName'].touched" class="error">
                        Name is required !
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="caWebUrl">URL :*</label>
                </div>
                <div class="col-md-9">
                    <input mdInput type="text" id="caWebUrl" name="caWebUrl" class="form-control form-control-sm" placeholder="https://laravel.com/docs/5.5"
                        [(ngModel)]="caWebUrl" formControlName="caWebUrl">
                
                    <div *ngIf="consumerForm.controls['caWebUrl'].hasError('required') && consumerForm.controls['caWebUrl'].touched" class="error">
                        URL is required !
                    </div>
                    <div *ngIf="consumerForm.controls['caWebUrl'].hasError('pattern') && consumerForm.controls['caWebUrl'].touched" class="error">
                        URL is not in correct pattern !
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="caPassword">Authentication Code :*</label>
                </div>
                <div class="col-md-5">
                    <input mdInput type="password" id="caPassword" name="caPassword" class="form-control form-control-sm" placeholder="sunil123"
                        [(ngModel)]="caPassword" formControlName="caPassword">
            
                    <div *ngIf="consumerForm.controls['caPassword'].hasError('required') && consumerForm.controls['caPassword'].touched" class="error">
                        Password is required !
                    </div>
                </div>
                <div class="col-md-7"></div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Permissions :</label>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-10">
                            <label>Access to xxxxxxxxxxxxxxxxx</label>
                        </div>
                        <div class="col-md-2">
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <label>Access to xxxxxxxxxxxxxxxxx</label>
                        </div>
                        <div class="col-md-2">
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <label>Access to xxxxxxxxxxxxxxxxx</label>
                        </div>
                        <div class="col-md-2">
                            <input type="checkbox">
                        </div>
                    </div>
                </div>
                
            </div>
            <br>
    
            <div id="form1_submit_row" class="row">
                <div class="col-md-10">
                    <!-- <input type="text" id="count_new" name="count_new" value="<?php echo $count_new; ?>" style="display:none;"> -->
                </div>
                <div class="col-md-2">
                    <button type="submit" id="submit1" name="submit1" class="btn-primary search_btn" [disabled]="!consumerForm.valid" (click)="submitForm1()">Submit</button>
                    <!-- <button type="submit" id="cancel1" name="cancel1" class="btn-primary search_btn">Cancel</button> -->
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </form>
    </div>
    <br>
    <br>