<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a [routerLink]="['../../dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a>Submissions</a>
    </li>
    <li class="breadcrumb-item">
        <a>Single Submission</a>
    </li>
</ol>

<form id="userForm">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-file-text-o"></i>&emsp;<b>Single Submission Form</b>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <input class="form-control form-control-sm" id="" name="" type="text" 
                    placeholder="URL">
                </div>
                <div class="col-md-3">
                    <select id="" name="" class="form-control form-control-sm drop">
                        <option value="" disabled selected>Select the type</option>
                        <option value="">Article</option>
                        <option value="">Audio</option>
                        <option value="">Video</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control form-control-sm" id="" name="" type="text" 
                    placeholder="Title">

                    <input class="form-control form-control-sm" id="" name="" type="text" 
                    placeholder="Specify key fields / tags">

                    <select id="" name="" class="form-control form-control-sm drop">
                        <option value="" disabled selected>Specify category / subjects</option>
                        <option Value="">Management</option>
                        <option Value="">Science</option>
                        <option Value="">Art</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <textarea id="description1" class="form-control form-control-sm" rows="5" id="" name="" type="text" 
                    placeholder="A brief description of the content"></textarea>
                    
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-12">
                    <h6 class="subTitle">General Education,</h6>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 1</label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 2</label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 3</label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 4</label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 5</label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 6</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 1</label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 2</label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 3</label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 4</label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 5</label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 6</label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <h6 class="subTitle">Professional Exams,</h6>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 1</label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 2</label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 3</label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 4</label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 5</label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 6</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 1</label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 2</label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 3</label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 4</label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 5</label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">&nbsp;Option 6</label>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-10">
            
                </div>
                <div class="col-md-2">
                    &emsp;<button type="submit" id="submit" name="submit" class="btn-primary search_btn">Submit</button>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</form>

<br>
<br>