<!-- Breadcrumbs-->
<ol class="breadcrumb">
<li class="breadcrumb-item">
    <a [routerLink]="['../../dashboard']">Home</a>
</li>
<li class="breadcrumb-item">
    <a [routerLink]="['../../submissions/add']">Submissions</a>
</li>
<li class="breadcrumb-item">
    <a [routerLink]="['../../submissions/view']">View</a>
</li>
<li class="breadcrumb-item">
    <a>Single Submission</a>
</li>
</ol>


<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-file-text-o"></i>&emsp;
        <b>Single Submission Form</b>
    </div>
<div class="card-body">
    <form id="singleSubForm" name="singleSubForm" [formGroup]="singleSubForm">
        <div class="row">
            <div class="col-md-12">
                <input class="form-control form-control-sm fontClz" id="sub_url" name="sub_url" type="text" formControlName="sub_url" [(ngModel)]="singleSubmission.sub_url1"
                    placeholder="Url: *" [ngClass]="displayFieldCss('sub_url')">
                <div *ngIf="singleSubForm.controls['sub_url'].hasError('required') && singleSubForm.controls['sub_url'].touched" class="error">
                    URL is required !
                </div>
                <div *ngIf="singleSubForm.controls['sub_url'].hasError('pattern') && singleSubForm.controls['sub_url'].touched" class="error">
                    URL is not valid !
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <input class="form-control form-control-sm fontClz" id="sub_title" name="sub_title" type="text" formControlName="sub_title"
                    [(ngModel)]="singleSubmission.sub_title1" placeholder="Title: *" [ngClass]="displayFieldCss('sub_title')">
                <div *ngIf="singleSubForm.controls['sub_title'].hasError('required') && singleSubForm.controls['sub_title'].touched" class="error">
                    Title is required !
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4">
                        <label for="sub_type" class="fontClz">Type:
                            <span class="required">*</span>
                        </label>
                    </div>
                    <div class="col-md-8">
                        <select id="sub_type" name="sub_type" class="form-control form-control-sm drop fontClz" formControlName="sub_type" [(ngModel)]="singleSubmission.sub_type1"
                            [ngClass]="displayFieldCss('sub_type')">
                            <option Value="1">All</option>
                            <option Value="2">Image</option>
                            <option value="3">Video</option>
                        </select>
                        <div *ngIf="singleSubForm.controls['sub_type'].hasError('required') && singleSubForm.controls['sub_type'].touched" class="error">
                            Type is required !
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12">
                <input class="form-control form-control-sm fontClz" id="sub_video_url" name="sub_video_url" type="text" formControlName="sub_video_url"
                    [(ngModel)]="singleSubmission.sub_video_url1" placeholder="Video Url:" [ngClass]="displayFieldCss('sub_video_url')">
                <div *ngIf="singleSubForm.controls['sub_video_url'].hasError('pattern') && singleSubForm.controls['sub_video_url'].touched"
                    class="error">
                    Video url is not valid !
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">
                        <label for="sub_Keyword" class="fontClz">Keyword:
                            <span class="required">*</span>
                        </label>
                    </div>
                    <div class="col-md-8">
                        <select id="sub_Keyword" name="sub_Keyword" class="form-control form-control-sm drop fontClz" formControlName="sub_Keyword"
                            [(ngModel)]="singleSubmission.sub_Keyword1" [ngClass]="displayFieldCss('sub_Keyword')">
                            <option *ngFor="let record of keywordList" [value]="record.id">{{record.en_name}}</option>
                        </select>
                        <div *ngIf="singleSubForm.controls['sub_Keyword'].hasError('required') && singleSubForm.controls['sub_Keyword'].touched"
                            class="error">
                            Type is required !
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-5" align="right">
                        <label for="sub_free" class="fontClz">Free keywords: ( Type comma seperately )</label>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control form-control-sm fontClz" id="sub_free" name="sub_free" type="text" formControlName="sub_free"
                            [(ngModel)]="singleSubmission.sub_free1" placeholder="" [ngClass]="displayFieldCss('sub_free')">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">
                        <label for="sub_categoty" class="fontClz">Category:
                            <span class="required">*</span>
                        </label>
                    </div>
                    <div class="col-md-8">
                        <select id="sub_categoty" name="sub_categoty" class="form-control form-control-sm drop fontClz" formControlName="sub_categoty"
                            [(ngModel)]="singleSubmission.sub_categoty1" [ngClass]="displayFieldCss('sub_categoty')">
                            <option *ngFor="let record of categoryList" [value]="record.id">{{record.en_name}}</option>
                        </select>
                        <div *ngIf="singleSubForm.controls['sub_categoty'].hasError('required') && singleSubForm.controls['sub_categoty'].touched"
                            class="error">
                            Type is required !
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="sub_explore" class="fontClz">Explore:
                            <span class="required">*</span>
                        </label>
                    </div>
                    <div class="col-md-8">
                        <select id="sub_explore" name="sub_explore" class="form-control form-control-sm drop fontClz" formControlName="sub_explore"
                            [(ngModel)]="singleSubmission.sub_explore1" [ngClass]="displayFieldCss('sub_explore')">
                            <option *ngFor="let record of exploreList" [value]="record.id">{{record.en_tag}}</option>
                        </select>
                        <div *ngIf="singleSubForm.controls['sub_explore'].hasError('required') && singleSubForm.controls['sub_explore'].touched"
                            class="error">
                            Type is required !
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <textarea id="sub_description" class="form-control form-control-sm" rows="3" id="sub_description" name="sub_description"
                    type="text" formControlName="sub_description" [(ngModel)]="singleSubmission.sub_description1" placeholder="A brief description of the content:"></textarea>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-10">

            </div>
            <div class="col-md-2">
                &emsp;
                <button type="submit" id="submit" name="submit" class="btn-primary search_btn" [disabled]="!singleSubForm.valid">Submit</button>
                <br>
                <br>
            </div>
        </div>
    </form>
</div>
</div>
