<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a [routerLink]="['../dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a>Profile</a>
    </li>
</ol>

<form id="userForm">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-user-o"></i>&emsp;<b>My Profile</b>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="contenair col-md-3">
                    <div class="col-md-12">
                        <h6>H.M Namal Pathirana</h6>
                    </div><br>
                    <div class="col-md-12">
                        <i class="fa fa-envelope-o"></i>&emsp;
                        <span>sbdeshan@gmail.com</span>
                    </div>
                    <div class="col-md-12">
                        <i class="fa fa-id-card-o"></i>&emsp;
                        <span>930282138V</span>
                    </div>
                    <div class="col-md-12">
                        <i class="fa fa-user-o"></i>&emsp;
                        <span>Lecturer</span>
                    </div>
                    <div class="col-md-12">
                        <i class="fa fa-phone"></i>&emsp;
                        <span>0714856956</span>
                    </div>
                    <div class="col-md-12">
                        <i class="fa fa-venus-mars"></i>&emsp;
                        <span>Male</span>
                    </div>
                    <div class="col-md-12">
                        <i class="fa fa-calendar-o"></i>&emsp;
                        <span>1990.01.25</span>
                    </div>
                    
                </div>
                <div class="contenair col-md-7">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#home">Highest Qualification</a>
                        </li>&emsp;&emsp;
                        <li>
                            <a data-toggle="tab" href="#menu1">Professional Qualification</a>
                        </li>&emsp;&emsp;
                        <li>
                            <a data-toggle="tab" href="#menu2">Subject Area</a>
                        </li>&emsp;&emsp;&emsp;
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <br>
                            <h6>Highest Qualification</h6>
                            <p><i class="fa fa-graduation-cap" aria-hidden="true" align="center"></i>&emsp;
                                <span>B.Sc Management and Information Technology</span><br>
                                <i class="fa fa-university" aria-hidden="true" align="center"></i>&emsp;
                                <span>University of Kelaniya</span><br>
                                <i class="fa fa-certificate" aria-hidden="true" align="center"></i>&emsp;
                                <span>Fist class honours</span><br>
                                <i class="fa fa-globe" aria-hidden="true" align="center"></i>&emsp;
                                <span>Sri Lanka</span><br>
                                <i class="fa fa-calendar" aria-hidden="true" align="center"></i>&emsp;
                                <span>2015</span><br> 
                            </p>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <br>
                            <h6>Professional Qualification</h6>
                            <ol>
                                <li>
                                    <p>
                                        <i class="fa fa-graduation-cap" aria-hidden="true" align="center"></i>&emsp;
                                        <span>B.Sc Information Technology</span>
                                        <br>
                                        <i class="fa fa-university" aria-hidden="true" align="center"></i>&emsp;
                                        <span>SLIIT</span>
                                        <br>
                                        <i class="fa fa-certificate" aria-hidden="true" align="center"></i>&emsp;
                                        <span>Second class upper</span>
                                        <br>
                                        <i class="fa fa-globe" aria-hidden="true" align="center"></i>&emsp;
                                        <span>Sri Lanka</span>
                                        <br>
                                        <i class="fa fa-calendar" aria-hidden="true" align="center"></i>&emsp;
                                        <span>2016</span>
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <i class="fa fa-graduation-cap" aria-hidden="true" align="center"></i>&emsp;
                                        <span>Charterd Accounting</span>
                                        <br>
                                        <i class="fa fa-university" aria-hidden="true" align="center"></i>&emsp;
                                        <span>CIMA</span>
                                        <br>
                                        <i class="fa fa-certificate" aria-hidden="true" align="center"></i>&emsp;
                                        <span>A+</span>
                                        <br>
                                        <i class="fa fa-globe" aria-hidden="true" align="center"></i>&emsp;
                                        <span>Sri Lanka</span>
                                        <br>
                                        <i class="fa fa-calendar" aria-hidden="true" align="center"></i>&emsp;
                                        <span>2017</span>
                                        <br>
                                    </p>
                                </li>
                            </ol>
                            
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <br>
                            <h6>Subject Areas</h6>
                            <ul class="list">
                                <li><span>Science</span></li>
                                <li><span>Maths</span></li>
                                <li><span>Information Technology</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn-primary edit_btn" style="float:right;">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                </div>
            </div>    
        </div>
    </div>
</form>

<br>
<br>