
#outline{
    margin-left: 0px;
    margin-right: 0px;

}

#title{
    color: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
}

#search_btn{
	margin-bottom: 12px;
}

#cancel_btn{
	margin-bottom: 12px;
}

div select{
	height: 31px;font-size:14px;
}
.adsettings{
    margin-bottom: 5px;
}

.btn-primary{
    background-color: coral;
    border-color: coral;
    width: 240px;
}


.textone{
    margin-bottom:10px; margin-top:10px;
    background-color: white !important;
    color: #333333;
}

.advanceDatePickers{
    background-color: white !important;
    color: #333333;    
}

.selectone{
    height:31px;font-size:14px; margin-bottom:10px; margin-top:10px; width:50%;
}

.form-control{ 
    height: 30px;
}

.messagebox{
    height: 100px;
}
.settingfieldscon{
    margin-top: 15px;
}
.messagetext{
    margin-top: 10px;
    margin-bottom: 5px;
}

.btnsettings{
    margin-top: 10px;
    text-align: right;
}

.mapsettings{
    margin-top: 40px;
}