<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a [routerLink]="['../../dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a>Change Password</a>
    </li>
</ol>
    
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-gears"></i>&emsp;<b>Change Password</b>
    </div>
    <div class="card-body">
    <br>
    <form action="" id="changePassForm" [formGroup]="changePassForm">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <label>Current password</label>
        </div>
        <div class="col-md-3">
            <input type="password" id="currentPass" class="form-control form-control-sm" [(ngModel)]="currentPass" formControlName="currentPass">
            <div *ngIf="changePassForm.controls['currentPass'].hasError('required') && changePassForm.controls['currentPass'].touched" class="error">
                Current password is required !
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <label>New password</label>
        </div>
        <div class="col-md-3">
            <input type="password" id="newPassword" name="newPassword" class="form-control form-control-sm" type="text" [(ngModel)]="newPassword" formControlName="newPassword">
            <div *ngIf="changePassForm.controls['newPassword'].hasError('required') && changePassForm.controls['newPassword'].touched"
                class="error">
                New password is required !
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <br>
    
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <label>Retype new password</label>
        </div>
        <div class="col-md-3">
            <input type="password" id="confirmPassword" class="form-control form-control-sm" name="confirmPassword"
            formControlName="confirmPassword" [(ngModel)]="confirmPassword">
            <div *ngIf="changePassForm.controls['confirmPassword'].hasError('required') && changePassForm.controls['confirmPassword'].touched"
            class="error">
            Confirm the password!
        </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-8" align="center">
            <button type="button" id="clear" name="clear" class="btn-primary search_btn">Clear</button>&emsp;
            <button type="submit" id="update" name="update" class="btn-primary search_btn">Update</button>&emsp;
            <!-- <button type="button" id="cancel" name="cancel" class="btn-primary search_btn">Cancel</button> -->
        </div>
        <div class="col-md-1"></div>
    </div>
    </form>
    </div>
</div>

