<div class="navbar navbar-default" id="navbar-second">
    <ul class="nav navbar-nav no-border visible-xs-block">
        <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
    </ul>

    <div class="navbar-collapse collapse" id="navbar-second-toggle">
        <ul class="nav navbar-nav  topMenuLinks">
            <li class="sideSignMenu ">
                <a  [routerLink]="['/']">
                    <i class="glyphicon glyphicon-home"></i>
                    {{ 'HOME' | translate }}
                </a>
            </li>            
            <li class="dropdown mega-menu mega-menu-wide">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-stars position-left"></i>{{ 'TOP_MENU' | translate }}<span class="caret"></span></a>

                <div class="dropdown-menu dropdown-content">
                    <div class="dropdown-content-body">
                        <div class="row">
                            <div class="col-md-3" *ngFor="let mem of this.exploreMenuItems">
                                <span class="menu-heading underlined dropDownList">{{mem.mainMenu}}</span>
                                 <ul class="menu-list">
                                    <li *ngFor="let item of mem.subMenu">
                                        <a [routerLink]="['/filter-manager']" [queryParams]="{q:item, t:'all'}"><i class="icon-stack2"></i>{{item}}</a>
                                    </li>
                                </ul> 
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right  topMenuLinks">

            <li *ngIf="!this.setUserData()" class="sideSignMenu ">
                <a  [routerLink]="['login']">
                    <i class="glyphicon glyphicon-log-in"></i>
                    &nbsp;{{ 'SIGN_IN' | translate }} 
                </a>
            </li>
            <li  *ngIf="this.setUserData()" class="dropdown dropdown-user sideSignMenu">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img [src]="this.loggedInUserList.image" alt="">
                    <span>{{this.loggedInUserList.name}}</span>
                    <i class="caret"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a  (click)="this.logout()" class="langPicker"><i class="icon-switch2"></i> {{'LOGOUT'|translate}}</a></li>
                </ul>
            </li>              
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-globe"></i>
                    <span class="visible-xs-inline-block position-right">&nbsp;{{common.selectedLangName}}</span>
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li *ngFor="let option of common.languages" (click)="common.changeLanguage(option)">
                        <a class="langPicker">{{common.languageOptions[option]}}</a>
                    </li>                
                </ul>
            </li>
         

        </ul>
    </div>
</div>




<!-- Page container -->
<div class="page-container" *ngIf="pageSettings()">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->

        <!-- /main sidebar -->


        <!-- Main content -->
        <div class="content-wrapper" >

            <!-- Page header -->

            <!-- /page header -->
<!-- 
        <div class="page-title" id="topTitle">
            <h5> 
                <i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">SMART</span> - Education Platform
                <small class="display-block">National Education platform in Sri Lanka</small>
            </h5>
            <a class="heading-elements-toggle"><i class="icon-more"></i></a>
        </div> -->




            <!-- Content area -->
            <div class="content col-md-8 panelTopClear" id="mainPanel">
                <!-- Search field -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <div class="col-md-10 col-md-offset-1" id="logo">

            <h5> 
                <a  [routerLink]="['/']">

                    <img class="position-left" src="app/assets/images/bulb_icon.png" />
                     <span class="text-semibold">SMART</span> - Education Platform
                </a>
                <small class="display-block">National Education platform in Sri Lanka</small>
            </h5>
            <!-- <a class="heading-elements-toggle"><i class="icon-more"></i></a>                             -->
                                <!-- <img class="img-responsive img-center" title="{{ 'APPLICATION_NAME' | translate }}" src="app/assets/images/smart_logo.jpg"/> -->
                        </div> 
                    </div> 

                    <div class="panel-body">
                        <form class="main-search"  #searchForm="ngForm" layout layout-align="center" layout-padding  (ngSubmit)="search(searchForm.value)">
                            <div class="input-group content-group">
                                <div class="has-feedback has-feedback-left">
                                    <input type="text" class="form-control input-xlg" placeholder="{{ 'SEARCH' | translate }}" name="keyword" [(ngModel)]="context">
                                    <div class="form-control-feedback">
                                        <i class="icon-search4 text-muted text-size-base"></i>
                                    </div>
                                </div>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-primary btn-xlg">{{ 'SEARCH' | translate}}</button>
                                </div>
                            </div>

                            <div class="row search-option-buttons">
                                <div class="col-sm-6"> &nbsp; </div>
                                <div class="col-sm-6 text-right">
                                    <ul class="list-inline no-margin-bottom">
                                        <li><a [routerLink]="['/advanced-search']" class="btn btn-link"><i class="icon-menu7 position-left"></i> {{ 'ADVANCED_SEARCH' | translate}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /search field -->






































            <md-sidenav-container>
                <div class="site">
                    <main class="content">            
                        <router-outlet></router-outlet>
                    </main>
                </div>
            </md-sidenav-container>








            <!-- Footer -->
            <div class="navbar navbar-default navbar-fixed-bottom">
                <ul class="nav navbar-nav no-border visible-xs-block">
                    <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second"><i class="icon-circle-up2"></i></a></li>
                </ul>

                <div class="navbar-collapse collapse" id="navbar-second">
                    <div class="navbar-text">
                      &nbsp;&nbsp; <a href="http://www.icta.lk/"> &copy; {{currentDate | date: 'yyyy'}} ICTA</a>
                    </div>

                    <div class="navbar-right">
                        <ul class="nav navbar-nav">
                            <li>
                                <a [routerLink]="['/contact']">
                                    {{ 'CONTACT_US' | translate }}
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/faq']">
                                    {{ 'FAQ' | translate }}
                                </a>
                            </li>                        
                            <li>
                                <a href="javascript:void(0);">
                                    {{ 'CONTENT_PROVIDERS' | translate }}
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    {{ 'CONTENT_ AUTHORIZER' | translate }}
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    {{ 'CONTENT_CONSUMER' | translate }}
                                </a>
                            </li> 
                            <li>
                                <a href="javascript:void(0);">
                                    {{ 'SITE_MAP' | translate }}
                                </a>
                            </li>  
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>























        <!-- Page container -->
        <div class="page-container" *ngIf="!pageSettings()">

            <!-- Page content -->
            <div class="page-content">

                <!-- Main sidebar -->

                <!-- /main sidebar -->


                <!-- Main content -->
                <div class="content-wrapper">

                    <!-- Page header -->

                    <!-- /page header -->


                    <!-- Content area -->
                    <div class="content" id="innerContent">

                        <!-- Search field -->
                        <div class="panel panel-flat" id="mainPanel">
                     
                <!-- Search field -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="{{searchSettings()? 'col-md-10 col-md-offset-1':'col-md-4'}}" id="logo">
                                <h5> 
                                    <a  [routerLink]="['/']">
                                        <img class="position-left" src="app/assets/images/bulb_icon.png" /> <span class="text-semibold">SMART</span> - Education Platform
                                    </a>
                                    <small class="display-block">National Education platform in Sri Lanka</small>
                                </h5>                                
                            </div>
                            <div class="col-md-6" *ngIf="!searchSettings();">
                                <div class="panel-body" >
                                    <form *ngIf="!this.shiftSearch" class="main-search"  #searchForm="ngForm" layout layout-align="center" layout-padding  (ngSubmit)="search(searchForm.value)">
                                        <div class="input-group content-group">
                                            <div class="has-feedback has-feedback-left">
                                                <input type="text" class="form-control input-xlg" placeholder="{{ 'SEARCH' | translate }}" name="keyword" [(ngModel)]="context">
                                                <div class="form-control-feedback">
                                                    <i class="icon-search4 text-muted text-size-base"></i>
                                                </div>
                                            </div>
                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-primary btn-xlg">{{ 'SEARCH' | translate}}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            
                            <div *ngIf="setAdvancedSearch()" class="col-md-10 col-md-offset-1">

<form class="main-search" *ngIf="this.shiftSearch"  #advancedSearchForm="ngForm" layout layout-align="center" layout-padding  (ngSubmit)="advancedSearch(advancedSearchForm.value)">       
    <div class="row">        
		<div class="col-lg-2">
			<h5>{{ 'SEARCH_FOR' | translate}}: </h5>
		</div>
		<div class="col-lg-6">
			<input name="searchFor1" [(ngModel)]="as_q_1" class="form-control form-control-sm textone adinputs" type="text" placeholder="({{'ENTER_SEARCH_TERM' | translate}})"/>
		</div>
		<div class="col-lg-4">
			<select name="searchForType1" id="searchForType1" class="form-control form-control-sm selectone" [(ngModel)]="as_ty_1">
                <option value="author">Author</option>    
                <option value="title">Title</option>
                <option value="keyword">Keyword</option>
            </select>						
		</div>
    </div>
    <div class="row set radioset">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-6">
            <select [(ngModel)]="as_op" name="searchForTypeCondition1" class="form-control form-control-sm selectone">
                <option value=""></option>
                <option value="AND">AND</option>    
                <option value="OR">OR</option>
                <option value="NOT">NOT</option>
            </select>	
        </div>
		<div class="col-lg-6"></div>
    </div>
    <div class="row">		
        <div class="col-lg-2">
            <h5>{{ 'SEARCH_FOR' | translate}}: </h5>
        </div>
        <div class="col-lg-6">
            <input (click)="bindTopElements()" name="searchFor2" [(ngModel)]="as_q_2" class="form-control form-control-sm textone adinputs" type="text"  placeholder="({{'ENTER_SEARCH_TERM'  | translate}})">
        </div>
        <div class="col-lg-4">
            <select  [(ngModel)]="as_ty_2" name="searchForType2" class="form-control form-control-sm selectone">
                <option value=""></option>
                <option value="author">Author</option>    
                <option value="title">Title</option>
                <option value="keyword">Keyword</option>
            </select>						
        </div>
    </div>
    <div class="row">  
				<div class="col-lg-2"></div>
				<div class="col-lg-4"></div>
				<div class="col-lg-4"></div>
				<div class="col-lg-12"><hr></div>
				<div class="col-lg-2">
					<h5>{{ 'SEARCH_FOR' | translate}}:</h5>
				</div>
				<div class="col-lg-2">
					<div class="col-md-12 adsettings">
						<div class="form-check">
                            <label>
                                    <input class="form-check-input contentType" type="radio" name="contentType" [checked]="contentTypes=='All'" value="All"/>
                                            {{ 'ALL' | translate}}
                            </label>
                </div>
					</div>
					<div class="col-md-12 adsettings">
						<div class="form-check">
                            <label>
                                <input class="form-check-input contentType" type="radio" name="contentType" [checked]="contentTypes=='Article'" value="Article"/>
                                    Articles
                            </label>  
                        </div>
					</div>
					<div class="col-md-12 adsettings">
						<div class="form-check">
                            <input class="form-check-input contentType" type="radio" name="contentType" [checked]="contentTypes=='Case Study'" value="Case Study"/>
                                    Case Studies
                        </div>
					</div>
					<div class="col-md-12 adsettings">
						<div class="form-check">
                            <input class="form-check-input contentType" type="radio" name="contentType" [checked]="contentTypes=='Book'" value="Book"/> Books
                        </div>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="col-md-12 adsettings">
						<div class="form-check">
                            <input class="form-check-input contentDates" type="radio" name="contentDates" value="All" [checked]="contentDates=='All'" (click)="durationController(); datePickerEnable('sepecificDates', 'advanceDatePickers')"/>
                            {{ 'ALL_DATES' | translate }}
                        </div>
					</div>
					<div class="col-md-12 adsettings">
						<div class="form-check">
                            <input class="form-check-input contentDates" type="radio" name="contentDates" value="Last 3 Months" [checked]="contentDates=='Last 3 Months'" (click)="durationController(); datePickerEnable('sepecificDates', 'advanceDatePickers')"/>
                                   {{ 'LAST_3_MONTHS' | translate }}
                        </div>
					</div>
					<div class="col-md-12 adsettings">
						<div class="form-check">
                            <input class="form-check-input contentDates" type="radio" name="contentDates" value="Last 6 Months" [checked]="contentDates=='Last 6 Months'" (click)="durationController(); datePickerEnable('sepecificDates', 'advanceDatePickers')"/>
                                    {{ 'LAST_6_MONTHS' | translate }}
                        </div>
                    </div>
					<div class="col-md-12 adsettings">
						<div class="form-check"> &nbsp;</div>
					</div>                      


					<div class="col-md-12 adsettings">	
					</div>
                </div>
                
            <div class="col-lg-6">
					<div class="col-md-12 adsettings">
						<div class="form-check">
                            <input class="form-check-input contentDates" type="radio" name="contentDates" id="sepecificDates" [checked]="contentDates==0" (click)="datePickerSetup(); durationController()" value="0"/>
                                    {{ 'SPECIFIC_DATE' | translate}}:
                        </div>
					</div>
					<div class="col-md-12 adsettings adspacer">
                        <div class="row">
                            <div class="col-md-2">
                                <label>{{ 'FROM' | translate}}</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="fromDate" class="advanceDatePickers form-control form-control-sm adinputs" id="fromDate" (click)="datePickerSetup()" [(ngModel)]="fromDate"/>
                            </div>
                            <div class="col-md-5">
                                &nbsp;
                            </div>
                        </div>
					</div>                
					<div class="col-md-12 adsettings adspacer">
                        <div class="row">
                            <div class="col-md-2">
                                <label>{{ 'TO' | translate}}</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="toDate" class="advanceDatePickers form-control form-control-sm adinputs" id="toDate" (click)="datePickerSetup()" [(ngModel)]="toDate"/>
                            </div>
                            <div class="col-md-5">
                                &nbsp;
                            </div>
                        </div>
					</div>                
            </div>        

      </div>
      <div class="row adspacer">
				<div class="col-lg-4">
				</div>
				<div class="col-lg-3 adsettings">
				</div>
				<div class="col-lg-5">
                    <button type="submit" id="search_btn" class="btn btn-primary">{{ 'SEARCH' | translate}}</button>
				</div>
      </div>
</form>                              

                            </div>   
                            
                            


                                <div class="col-md-2" *ngIf="!searchSettings();">
                                    <ul class="list-inline no-margin-bottom setmargin">
                                        <li><a [routerLink]="['/advanced-search']" class="btn btn-link"><i class="icon-menu7 position-left"></i> {{ 'ADVANCED_SEARCH' | translate}}</a></li>
                                    </ul>                                
                                </div>                                                        
                            </div>

                            </div>









                        </div>
                        <!-- /search field -->


  <div class="panel-body"  *ngIf="loginSettings();">
    <div class="row">
            <div class="col-md-12 loginHead">
                &minus; {{ 'LOGIN_WITH' | translate }} &minus;
            </div>
    </div>    
    <div class="row">
            <div class="col-md-12">
                <img (click)="signIn('facebook')" class="socailbtn img-responsive img-center" src="app/assets/images/fb.png"/>
            </div>
    </div>
    <div class="row">
            <div class="col-md-12">
                <img (click)="signIn('google')" class="socailbtn img-responsive img-center" src="app/assets/images/gp.png"/>
            </div>
    </div>
    <div class="row">
            <div class="col-md-12">
            <img (click)="signIn('linkedin')" class="socailbtn img-responsive img-center" src="app/assets/images/ln.png"/>
            </div>
    </div>  

    <!-- <div *ngIf="user">
        <table>
            <tr>
            <td>Name:</td>
            <td>{{user.name}}</td>
            </tr>
            <tr>
            <td>Email</td>
            <td>{{user.email}}</td>
            </tr>
            <tr>
            <td>UID</td>
            <td>{{user.uid}}</td>
            </tr>
            <tr>
            <td>Provider</td>
            <td>{{user.provider}}</td>
            </tr>
            <tr>
            <td>Image</td>
            <td>{{user.image}}</td>
            </tr>
        </table>
    </div>    
    <button (click)="logout()">logout</button> -->
  </div>                        






                        <md-sidenav-container>
                            <div class="site">
                                <main class="content">            
                                    <router-outlet></router-outlet>
                                </main>
                            </div>
                        </md-sidenav-container>


                        <!-- Footer -->
                <div class="navbar-collapse collapse " id="navbar-second">
                    <div class="navbar-text footerinner">
                      &nbsp;&nbsp; <a href="http://www.icta.lk/"> &copy; {{currentDate | date: 'yyyy'}} ICTA</a>
                    </div>

                    <div class="navbar-right footerinner">
                        <ul class="nav navbar-nav">
                            <li>
                                <a [routerLink]="['/contact']">
                                    {{ 'CONTACT_US' | translate }}
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/faq']">
                                    {{ 'FAQ' | translate }}
                                </a>
                            </li>                        
                            <li>
                                <a href="javascript:void(0);">
                                    {{ 'CONTENT_PROVIDERS' | translate }}
                                </a>
                            </li>
                            <li>
                                 <a href="javascript:void(0);">
                                    {{ 'CONTENT_ AUTHORIZER' | translate }}
                                </a>
                            </li>
                            <li>
                                 <a href="javascript:void(0);">
                                    {{ 'CONTENT_CONSUMER' | translate }}
                                </a>
                            </li> 
                            <li>
                                <a href="javascript:void(0);">
                                    {{ 'SITE_MAP' | translate }}
                                </a>
                            </li> 
                        </ul>
                    </div>
                </div>
                        <!-- /footer -->

                    </div>
                    <!-- /content area -->

                </div>
                <!-- /main content -->

            </div>
            <!-- /page content -->

        </div>
        <!-- /page container -->