<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a [routerLink]="['../../../dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a [routerLink]="['../../../settings/author/view-author']">Settings</a>
    </li>
    <li class="breadcrumb-item">
        <a>Explore</a>
    </li>
    <li class="breadcrumb-item">
        <a>View Explore</a>
    </li>
</ol>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i>&emsp;
        <b>Explores' List</b>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="exploreTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>English Tag</th>
                        <th>Sinhala Tag</th>
                        <th>Tamil Tag</th>
                        <th data-orderable="false">Enable/ Disable</th>
                        <th align="center" data-orderable="false">Edit</th>
                        <th data-orderable="false" align="center">Delete</th>
                    </tr>
                </thead>
                <tfoot>

                </tfoot>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>John</td>
                        <td>ජෝන්</td>
                        <td>ஜான்</td>
                        <td align="center">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </td>
                        <td align="center">
                            <a href="">
                                <li class="fa  fa-1x fa-pencil-square-o"></li>
                            </a>
                        </td>
                        <td align="center">
                            <a data-toggle="modal" data-target="#deleteModal">
                                <li class="fa  fa-1x fa-trash"></li>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>John2</td>
                        <td>ජෝන්2</td>
                        <td>ஜான்2</td>
                        <td align="center">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </td>
                        <td align="center">
                            <a href="">
                                <li class="fa  fa-1x fa-pencil-square-o"></li>
                            </a>
                        </td>
                        <td align="center">
                            <a data-toggle="modal" data-target="#deleteModal">
                                <li class="fa  fa-1x fa-trash"></li>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<br>
<br>

<!-- Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">Do you want to delete this?</h6>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!-- <div class="modal-body">Do you need to delete this?</div> -->
            <div class="modal-footer">
                <button class="btn-secondary search_btn" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn-primary search_btn">Delete</button>
            </div>
        </div>
    </div>
</div>