<div class="row">
    <div class="col-md-12">
        <h6>
            <a href="">1. Management Information System</a>
        </h6>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <label>Category : </label>
    </div>
    <div class="col-md-7">
        <label>Information Technology</label>
    </div>
    <div class="col-md-3">
        <em><label class="historyLabel">Content Submission No: C0002</label></em>  
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <label>Keywords/ Tags : </label>
    </div>
    <div class="col-md-10">
        <label>Information Technology, IT, TPS, DSS, Database</label>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr>
    </div>
</div>

<!-- second Articles -->

<div class="row">
    <div class="col-md-12">
        <h6>
            <a href="">2. Database Management System</a>
        </h6>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <label>Category : </label>
    </div>
    <div class="col-md-7">
        <label>Information Technology</label>
    </div>
    <div class="col-md-3">
        <em>
            <label class="historyLabel">Content Submission No: C0003</label>
        </em>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <label>Keywords/ Tags : </label>
    </div>
    <div class="col-md-10">
        <label>Information Technology, Database</label>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr>
    </div>
</div>
