<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a [routerLink]="['../../../../dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a [routerLink]="['../../../../submissions/add']">Submissions</a>
    </li>
    <li class="breadcrumb-item">
        <a>Update</a>
    </li>
</ol>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-file-o"></i>&emsp;
            <b>Submission Adding Form</b>
        </div>
        <div class="card-body">
        <angular2-multiselect [data]="itemList" 
            [(ngModel)]="selectedItems" 
            [settings]="settings" 
            (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" 
            (onSelectAll)="onSelectAll($event)" 
            (onDeSelectAll)="onDeSelectAll($event)">
        </angular2-multiselect>
        </div>
    </div>

<br>
<br>