<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a [routerLink]="['../dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a>Submission History</a>
    </li>
</ol>

<form id="userForm">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-history"></i>&emsp;<b>Content Provider - Submission History</b>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h6 class="subTitle">Filter by :</h6>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-3" align="center">
                    <input type="radio" name="status" id="all" checked><label>&emsp;All</label>
                </div>
                <div class="col-md-3" align="center">
                    <input type="radio" name="status" id="approve"><label>&emsp;Approve</label>
                </div>
                <div class="col-md-3" align="center">
                    <input type="radio" name="status" id="reject"><label>&emsp;Reject</label>
                </div>
                <div class="col-md-3" align="center">
                    <input type="radio" name="status" id="pending"><label>&emsp;Pending</label>
                </div>
            </div> -->

            <br>


            <div id="exTab2" class="container">
                <ul class="nav nav-tabs">
                    <li class="active" *ngFor="let record of typeList">
                        <a class="tab" data-toggle="tab" href="#home" (click)="getContentCount(record.id)">{{record.name}} <span *ngIf="record.id==type_id">({{contentCount}})</span></a>
                    </li>
                </ul>
                <br>

                <div class="tab-content" align="center">
                    <div id="home" class="tab-pane">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="authorsTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            <div class="row">
                                                <!-- <div class="col-md-3" align="center">
                                                                <label>Filter by : </label>
                                                            </div> -->
                                                <div class="col-md-2" align="center">
                                                    <input type="radio" name="status" id="all" checked>
                                                    <label>&emsp;All</label>
                                                </div>
                                                <div class="col-md-2" align="center">
                                                    <input type="radio" name="status" id="approve">
                                                    <label>&emsp;Approve</label>
                                                </div>
                                                <div class="col-md-2" align="center">
                                                    <input type="radio" name="status" id="reject">
                                                    <label>&emsp;Reject</label>
                                                </div>
                                                <div class="col-md-2" align="center">
                                                    <input type="radio" name="status" id="pending">
                                                    <label>&emsp;Pending</label>
                                                </div>
                                                <div class="col-md-4" align="center">
                                                    <button class="dlt_btn arrow_btn" (click)="increaseIndex()">
                                                        <li class="fa fa-2x fa-chevron-circle-right arrow_btn_icon">
                                                    </button>
                                                    <button class="dlt_btn arrow_btn" (click)="decreaseIndex()">
                                                        <li class="fa fa-2x fa-chevron-circle-left arrow_btn_icon">
                                                    </button>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tfoot>
                        
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <td>
                                            <b>{{index+1}}.</b>
                                        </td>
                                        <td>
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h6>
                                                            <a href="">1. Management Information System</a>
                                                        </h6>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>Category : </label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <label>Information Technology</label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <em>
                                                            <label class="historyLabel">Content Submission No: C0002</label>
                                                        </em>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>Keywords/ Tags : </label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <label>Information Technology, IT, TPS, DSS, Database</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                </div>
                                                <br>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<br>
<br>