<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a [routerLink]="['../dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a>Submission History</a>
    </li>
</ol>

<form id="contentForm">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-history"></i>&emsp;<b>Content Provider - Submission History</b>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h6 class="subTitle">Filter by :</h6>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-3" align="center">
                    <input type="radio" name="status" id="all" checked><label>&emsp;All</label>
                </div>
                <div class="col-md-3" align="center">
                    <input type="radio" name="status" id="approve"><label>&emsp;Approve</label>
                </div>
                <div class="col-md-3" align="center">
                    <input type="radio" name="status" id="reject"><label>&emsp;Reject</label>
                </div>
                <div class="col-md-3" align="center">
                    <input type="radio" name="status" id="pending"><label>&emsp;Pending</label>
                </div>
            </div> -->

            <br>


            <div id="exTab2" class="container">
                <ul class="nav nav-tabs">
                    <li class="active" *ngFor="let record of typeList">
                        <a class="tab" data-toggle="tab" href="#home" (click)="getContentCount(record.id); getContentHistory(record.id)"><b>{{record.name}} <span *ngIf="record.id==type_id">({{contentCount}})</span></b></a>
                    </li>
                </ul>
                <br>

                <div class="tab-content" align="center">
                    <div id="home" class="tab-pane active">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="authorsTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            <div class="row">
                                                <!-- <div class="col-md-3" align="center">
                                                                <label>Filter by : </label>
                                                            </div> -->
                                                <div class="col-md-2" align="center">
                                                    <input type="radio" name="status" id="all" (click)="all()" [value]="0" [(ngModel)]="content.radioValue" checked>
                                                    <label>&emsp;All ({{contentCount}})</label>
                                                </div>
                                                <div class="col-md-2" align="center">
                                                    <input type="radio" name="status" id="approve" (click)="approved()" [value]="1"  [(ngModel)]="content.radioValue">
                                                    <label>&emsp;Approve ({{approvedCount}})</label>
                                                </div>
                                                <div class="col-md-2" align="center">
                                                    <input type="radio" name="status" id="reject" (click)="rejected()" [value]="2"  [(ngModel)]="content.radioValue">
                                                    <label>&emsp;Reject ({{rejectedCount}})</label>
                                                </div>
                                                <div class="col-md-2" align="center">
                                                    <input type="radio" name="status" id="pending" (click)="pending()" [value]="3"  [(ngModel)]="content.radioValue">
                                                    <label>&emsp;Pending ({{pendingCount}})</label>
                                                </div>
                                                <div class="col-md-4" align="center">
                                                    <button class="dlt_btn arrow_btn" (click)="increaseIndex()" [disabled]="index == contentHistoryListLength - 1" *ngIf="contentHistoryListLength != 0">
                                                        <li class="fa fa-2x fa-chevron-circle-right arrow_btn_icon">
                                                    </button>
                                                    <button class="dlt_btn arrow_btn" *ngIf="index>0" (click)="decreaseIndex()">
                                                        <li class="fa fa-2x fa-chevron-circle-left arrow_btn_icon">
                                                    </button>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tfoot>
                        
                                </tfoot>
                                <tbody>
                                    <tr *ngIf="contentHistoryList[index]">
                                        <td>
                                            <b>{{index+1}}.</b>
                                        </td>
                                        <td>
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h6>
                                                            <a href="{{contentHistoryList[index].url}}" target="blank">{{contentHistoryList[index].title}}</a>
                                                        </h6>
                                                    </div>
                                                </div>
                                                <div class="row" *ngIf="changingTypeId == 3">
                                                    <div class="col-md-2">
                                                        <label>Video Url : </label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <label>
                                                            <a href="{{contentHistoryList[index].video_url}}" target="blank">{{contentHistoryList[index].video_url}}</a>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>Keywords : </label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <label *ngFor="let item of contentHistoryList[index].keyword; let isLast=last;">
                                                            {{item.en_name}}{{isLast ? '' : ', '}}
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>Other Keywords : </label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <label>{{contentHistoryList[index].freeform_keyword}}</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>Category : </label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <label *ngFor="let item of contentHistoryList[index].category; let isLast=last;">
                                                            {{item.en_name}}{{isLast ? '' : ', '}}
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>Description : </label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <textarea id="sub_description" class="form-control form-control-sm" rows="3" id="sub_description" name="sub_description"
                                                            type="text" readonly>{{contentHistoryList[index].description}}</textarea>
                                                    </div>
                                                </div>
                                                <br>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<br>
<br>