<div class="row">
    <div class="col-md-12">
        <h6>
            <a href="">1. Management Information System</a>
        </h6>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-2">
                <label>Category:</label>
            </div>
            <div class="col-md-10">
                <div class="input-group">
                    <input class="form-control form-control-sm group-text" type="text">
                    <span class="input-group-btn">
                        <button class="btn btn-primary group-btn1" type="button" id="" style="padding-top: 4px; padding-bottom: 4px;">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Keywords:</label>
            </div>
            <div class="col-md-10">
                <div class="input-group">
                    <input class="form-control form-control-sm group-text" type="text">
                    <span class="input-group-btn">
                        <button class="btn btn-primary group-btn" type="button" id="" style="padding-top: 4px; padding-bottom: 4px;">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Type of Content:</label>
            </div>
            <div class="col-md-8">
                <div class="input-group">
                    <select class="form-control form-control-sm group-text">
                        <option>Articles</option>
                        <option>Case Study</option>
                        <option>Books</option>
                        <option>Research</option>
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-primary group-btn1" type="button" id="" style="padding-top: 4px; padding-bottom: 4px;">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <textarea class="form-control description" name="description" id="description" rows="6" placeholder="Description"></textarea>
    </div>
</div>

<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-2">
        &emsp;&emsp;&emsp;<input type="radio" name="status" id="accept"><label>&emsp;Accept</label>
    </div>
    <div class="col-md-2">
        &emsp;&emsp;&emsp;<input type="radio" name="status" id="remove"><label>&emsp;Remove</label>
    </div>
    <div class="col-md-2">
        &emsp;&emsp;&emsp;&emsp;<button type="submit" id="submit" name="submit" class="btn-primary search_btn">Submit</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr>
    </div>
</div>

<!-- second Articles -->

<div class="row">
    <div class="col-md-12">
        <h6>
            <a href="">2. Management &amp; Information Technology</a>
        </h6>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-2">
                <label>Category:</label>
            </div>
            <div class="col-md-10">
                <div class="input-group">
                    <input class="form-control form-control-sm group-text" type="text">
                    <span class="input-group-btn">
                        <button class="btn btn-primary group-btn1" type="button" id="" style="padding-top: 4px; padding-bottom: 4px;">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Keywords:</label>
            </div>
            <div class="col-md-10">
                <div class="input-group">
                    <input class="form-control form-control-sm group-text" type="text">
                    <span class="input-group-btn">
                        <button class="btn btn-primary group-btn" type="button" id="" style="padding-top: 4px; padding-bottom: 4px;">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Type of Content:</label>
            </div>
            <div class="col-md-8">
                <div class="input-group">
                    <select class="form-control form-control-sm group-text">
                        <option>Articles</option>
                        <option>Case Study</option>
                        <option>Books</option>
                        <option>Research</option>
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-primary group-btn1" type="button" id="" style="padding-top: 4px; padding-bottom: 4px;">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <textarea class="form-control description" name="description" id="description" rows="6" placeholder="Description"></textarea>
    </div>
</div>

<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-2">
        &emsp;&emsp;&emsp;<input type="radio" name="status" id="accept"><label>&emsp;Accept</label>
    </div>
    <div class="col-md-2">
        &emsp;&emsp;&emsp;<input type="radio" name="status" id="remove"><label>&emsp;Remove</label>
    </div>
    <div class="col-md-2">
        &emsp;&emsp;&emsp;&emsp;<button type="submit" id="submit" name="submit" class="btn-primary search_btn">Submit</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr>
    </div>
</div>