<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a [routerLink]="['../../dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a>Institute</a>
    </li>
    <li class="breadcrumb-item">
        <a>View Institute</a>
    </li>
</ol>

<div id="success_alert" class="alert alert-success" *ngIf="instituteDeletingStatus"><strong>{{instituteDeletingStatus}} !</strong></div>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i>&emsp;
        <b>Content Institutes' List</b>
    </div>
    <div class="card-body" >
        <div class="table-responsive">
            <table class="table table-bordered" id="instituteTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Institute Name</th>
                        <th>Reg. No</th>
                        <th>Reg.Date</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Address</th>
                        <th>Enable/ Disable</th>
                        <th data-orderable="false">View</th>
                        <th data-orderable="false">Delete</th>
                    </tr>
                </thead>
                <tfoot>

                </tfoot>
                <tbody>
                    <tr *ngFor="let record of instituteList; let i = index" [attr.data-index]="i">
                        <td>{{i+1}}</td>
                        <td>{{record.name}}</td>
                        <td>{{record.registration_number}}</td>
                        <td>{{record.registered_date}}</td>
                        <td>{{record.email}}</td>
                        <td>{{record.contact_number}}</td>
                        <td>{{record.address}}</td>
                        <td align="center">
                            <label class="switch">
                                <input type="checkbox" [(ngModel)]="record.status">
                                <span class="slider round"></span>
                            </label>
                        </td>
                        <td align="center">
                            <a [routerLink]="['../../institute/update-institute', record.id]" class="fa fa-1x fa-pencil-square-o">
                            </a>
                        </td>
                        <!-- <td align="center">
                            <a data-toggle="modal" data-target="#deleteModal">
                                <li class="fa  fa-1x fa-trash"></li>
                            </a>
                        </td> -->
                        <td align="center">
                            <button class="dlt_btn" (click)="deleteInstitute(record.id)">
                                <li class="fa  fa-1x fa-trash">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<br>
 
<!-- Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">Do you want to delete this?</h6>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!-- <div class="modal-body">Do you need to delete this?</div> -->
            <div class="modal-footer">
                <button class="btn-secondary search_btn" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn-primary search_btn">Delete</button>
            </div>
        </div>
    </div>
</div>