body {
    padding : 10px ;
    
  }
  
  /* #exTab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  
  #exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  } */
  
  /* remove border radius for the tab */
  
  #exTab1 .nav-pills > li > a {
    border-radius: 0;
  }
  
  /* change border radius for the tab , apply corners on top*/
  
  #exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
  }
  
  #exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  
  div input{
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 14px;
}

div label{
    margin-top: 8px;
    margin-bottom: 10px;
}

.tab{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 14px;
    color: brown;
}

#providerSearchBtn{ 
  padding-top: 4px;
  padding-bottom: 4px;
  bottom: 1px;
}

/*table css*/
div input{
    margin-top: 8px;
    margin-bottom: 10px;
    /* //font-size: 12px; */
}

div select{
    margin-top: 8px;
    margin-bottom: 10px;
}

div textarea{
    margin-top: 8px;
    margin-bottom: 10px;
}

#description1{
    height: 100px;
}

div label{
    margin-top: 10px;
}

.fontClz{
    font-size: 13px;
}

.col_md_3_style{  
    padding-right: 0px;
}

#submit_row{ 
    margin-top: 50px;
}

/*table arrow buttons*/
.arrow_btn_icon{
    color:#808080;
}

.arrow_btn{
    float:right;
}

#submit{
    margin-top: 4px;
}

  
  
  
  