<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a [routerLink]="['../dashboard']">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a>Content Authorization</a>
    </li>
</ol>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-file-text-o"></i>&emsp;
        <b>Content Authorization Form</b>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h6 class="subTitle">Search By :</h6>
            </div>
        </div>
        <form id="singleSubForm" name="singleSubForm" [formGroup]="singleSubForm">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>Content Provider Identification No: </label>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="input-group">
                        <input class="form-control group-text" type="text" placeholder="Con-00001.." formControlName="providerId" [(ngModel)]="singleSubmission.providerId" [ngClass]="displayFieldCss('providerId')">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit" id="providerSearchBtn" [disabled]="!singleSubForm.valid">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div *ngIf="singleSubForm.controls['providerId'].hasError('required') && singleSubForm.controls['providerId'].touched"
                    class="row error">
                    Content provider ID is required !
                </div>

            </div>
            <div class="col-md-2"></div>   
        </div>

        <br>

        <div class="table-responsive">
            <table class="table table-bordered" id="authorsTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            <button class="dlt_btn arrow_btn" *ngIf="submission_level==1" (click)="increaseIndex()" [disabled]="index == contentArrayLength - 1">
                                <li class="fa fa-2x fa-chevron-circle-right arrow_btn_icon">
                            </button>
                            <button class="dlt_btn arrow_btn" *ngIf="submission_level==1 && index>0" (click)="decreaseIndex()">
                                <li class="fa fa-2x fa-chevron-circle-left arrow_btn_icon">
                            </button>
                        </th>
                    </tr>
                </thead>
                <tfoot>
        
                </tfoot>
                <tbody>
                    <tr>
                        <td>
                            <b>{{index+1}}.</b>
                        </td>
                        <td>
                            <div class="row">
                                
                                <div class="col-md-3"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 col_md_3_style">
                                    <label for="sub_url" class="fontClz">Url:
                                        <span class="required">*</span>
                                    </label>
                                </div>
                                <div class="col-md-11">
                                    <input class="form-control form-control-sm fontClz" id="sub_url" name="sub_url" type="text" formControlName="sub_url" [(ngModel)]="singleSubmission.sub_url1"
                                        placeholder="" [ngClass]="displayFieldCss('sub_url')" readonly>
                                    <div *ngIf="singleSubForm.controls['sub_url'].hasError('required') && singleSubForm.controls['sub_url'].touched" class="error">
                                        URL is required !
                                    </div>
                                    <div *ngIf="singleSubForm.controls['sub_url'].hasError('pattern') && singleSubForm.controls['sub_url'].touched" class="error">
                                        URL is not valid !
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <label for="sub_title" class="fontClz">Title:
                                        <span class="required">*</span>
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control form-control-sm fontClz" id="sub_title" name="sub_title" type="text" formControlName="sub_title"
                                        [(ngModel)]="singleSubmission.sub_title1" placeholder="" [ngClass]="displayFieldCss('sub_title')">
                                    <div *ngIf="singleSubForm.controls['sub_title'].hasError('required') && singleSubForm.controls['sub_title'].touched" class="error">
                                        Title is required !
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row">
                                        <div class="col-md-4 col_md_3_style">
                                            <label for="sub_type" class="fontClz">Type:
                                                <span class="required">*</span>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <select id="sub_type" name="sub_type" class="form-control form-control-sm drop fontClz" formControlName="sub_type" [(ngModel)]="singleSubmission.sub_type1"
                                                [ngClass]="displayFieldCss('sub_type')">
                                                <option *ngFor="let record of typeList" [value]="record.id">{{record.name}}</option>
                                            </select>
                                            <div *ngIf="singleSubForm.controls['sub_type'].hasError('required') && singleSubForm.controls['sub_type'].touched" class="error">
                                                Type is required !
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 col_md_3_style">
                                    <label for="sub_video_url" class="fontClz">Video Url:</label>
                                </div>
                                <div class="col-md-11">
                                    <input class="form-control form-control-sm fontClz" id="sub_video_url" name="sub_video_url" type="text" formControlName="sub_video_url"
                                        [(ngModel)]="singleSubmission.sub_video_url1" placeholder="" [ngClass]="displayFieldCss('sub_video_url')">
                                    <div *ngIf="singleSubForm.controls['sub_video_url'].hasError('pattern') && singleSubForm.controls['sub_video_url'].touched"
                                        class="error">
                                        Video url is not valid !
                                    </div>
                                </div>
                            </div>
                            <div formGroupName="sub_keywords">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-3 col_md_3_style">
                                                <label for="sub_keyword" class="fontClz">Keyword:
                                                    <span class="required">*</span>
                                                </label>
                                            </div>
                                            <div class="col-md-9">
                                                <angular2-multiselect [data]="keywordItemList" formControlName="sub_keyword" name="keywords" [(ngModel)]="singleSubmission.selectedKeyword"
                                                    [settings]="keyword_setting" (onSelect)="onItemSelect1($event)" (onDeSelect)="onItemDeSelect1($event)"
                                                    (onSelectAll)="onSelectAll1($event)" (onDeSelectAll)="onDeSelectAll1($event)"
                                                    class="form-control form-control-sm drop fontClz">
                                                </angular2-multiselect>
                                                <div *ngIf="singleSubForm.controls['sub_keywords'].controls['sub_keyword'].hasError('required') && singleSubForm.controls['sub_keywords'].controls['sub_keyword'].touched"
                                                    class="error">
                                                    Keyword is required !
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-5 col_md_3_style" align="right">
                                                <label for="sub_free" class="fontClz">Free keywords: ( Type comma seperately )</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input class="form-control form-control-sm fontClz" id="sub_free" name="sub_free" type="text" formControlName="sub_free"
                                                    [(ngModel)]="singleSubmission.sub_free1" placeholder="keyword1,keyword2" [ngClass]="displayFieldCss('sub_keywords.sub_free')">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div formGroupName="sub_categories">
                                        <div class="row">
                                            <div class="col-md-3 col_md_3_style">
                                                <label for="sub_category" class="fontClz">Category:
                                                    <span class="required">*</span>
                                                </label>
                                            </div>
                                            <div class="col-md-9">
                                                <angular2-multiselect [data]="CategoryItemList" formControlName="sub_category" [(ngModel)]="singleSubmission.selectedCategory"
                                                    [settings]="category_setting" (onSelect)="onItemSelect2($event)" (onDeSelect)="onItemDeSelect2($event)"
                                                    (onSelectAll)="onSelectAll2($event)" (onDeSelectAll)="onDeSelectAll2($event)"
                                                    class="form-control form-control-sm drop fontClz">
                                                </angular2-multiselect>
                                                <div *ngIf="singleSubForm.controls['sub_categories'].controls['sub_category'].hasError('required') && singleSubForm.controls['sub_categories'].controls['sub_category'].touched"
                                                    class="error">
                                                    Category is required !
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div formGroupName="sub_explores">
                                        <div class="row">
                                            <div class="col-md-3 col_md_3_style">
                                                <label for="sub_explore" class="fontClz">Explore:
                                                    <span class="required">*</span>
                                                </label>
                                            </div>
                                            <div class="col-md-9">
                                                <angular2-multiselect [data]="ExploreItemList" formControlName="sub_explore" [(ngModel)]="singleSubmission.selectedExplore"
                                                    [settings]="explore_setting" (onSelect)="onItemSelect3($event)" (onDeSelect)="onItemDeSelect3($event)"
                                                    (onSelectAll)="onSelectAll3($event)" (onDeSelectAll)="onDeSelectAll3($event)">
                                                </angular2-multiselect>
                                                <div *ngIf="singleSubForm.controls['sub_explores'].controls['sub_explore'].hasError('required') && singleSubForm.controls['sub_explores'].controls['sub_explore'].touched"
                                                    class="error">
                                                    Explore is required !
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div formGroupName="sub_authors">
                                        <div class="row">
                                            <div class="col-md-3 col_md_3_style">
                                                <label for="sub_author" class="fontClz">Author:
                                                    <span class="required">*</span>
                                                </label>
                                            </div>
                                            <div class="col-md-9">
                                                <angular2-multiselect [data]="authorItemList" formControlName="sub_author" [(ngModel)]="singleSubmission.selectedAuthor"
                                                    [settings]="author_setting" (onSelect)="onItemSelect3($event)" (onDeSelect)="onItemDeSelect3($event)" (onSelectAll)="onSelectAll3($event)"
                                                    (onDeSelectAll)="onDeSelectAll3($event)">
                                                </angular2-multiselect>
                                                <div *ngIf="singleSubForm.controls['sub_authors'].controls['sub_author'].hasError('required') && singleSubForm.controls['sub_authors'].controls['sub_author'].touched"
                                                    class="error">
                                                    Author is required !
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <textarea id="sub_description" class="form-control form-control-sm" rows="3" id="sub_description" name="sub_description"
                                                type="text" formControlName="sub_description" [(ngModel)]="singleSubmission.sub_description1" placeholder="A brief description of the content:"></textarea>
                                        </div> 
                                    </div>
                                    <div class="row">
                                        <!-- <div class="col-md-12"> -->
                                            <div class="col-md-3" align="center">
                                                <label class="radio-inline"><input type="radio" name="status" id="all" checked>
                                                &emsp;Pending</label>
                                            </div>
                                            <div class="col-md-3" align="center">
                                                <label class="radio-inline"><input type="radio" name="status" id="approve">
                                                &emsp;Approve</label>
                                            </div>
                                            <div class="col-md-3" align="center">
                                                <label class="radio-inline"><input type="radio" name="status" id="reject">
                                                &emsp;Reject</label>
                                            </div>
                                            <div class="col-md-3" align="right">
                                                <button type="submit" id="submit" name="submit" class="btn-primary search_btn" [disabled]="!singleSubForm.valid">Submit</button> <!--(click)="addContents()" -->
                                            </div>
                                        <!-- </div> -->
                                    </div>  
                                </div>
                                <!-- <div class="col-md-1" align="left">
                                    <div class="row" id="submit_row">
                                        
                                    </div>
                                </div> -->
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12 important_right">
                                    ( Important: Required fields are mentioned by * )
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        <!--</div> -->
        </form>
    </div>
</div>

<br>
<br>